body{
    color: white;
    background-color: #ababab;
}
#page-header, #page-footer{
    text-align: center;
    background-color: blue;
}

#grid-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    
}
.card{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    margin-top: 0;
    color: blueviolet;
}

.card-content{
    flex-grow: 1;
}

.card-button{
    background-color: #288838;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.card-button:hover{
    background-color: bisque;

}


